/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #ebdbb2;
}

nav {
    background-color: #504945;
    color: #fabd2f ;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fabd2f ;
    text-decoration: none;
    margin: 0 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
}

.profile {
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.profile-links {
    text-align: right;
    margin-bottom: 20px;
}

.profile-links a {
    color: #fabd2f;
    text-decoration: none;
    margin-left: 10px;
}

.profile-links a:hover {
    color: #b8bb26;
}

footer {
    background-color: #3c3836;
    color: #ebdbb2;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
